
<div class="swade-improved-sheets-config">
    <form autocomplete="off" class="swade sis icon-config">

        <div class="well">
            {{localize 'swade-improved-sheets.configuration.icons.window.message'}}

        </div>

        <h1 class="my-1">
            {{localize 'swade-improved-sheets.configuration.icons.window.healthTitle'}}
        </h1>

        <div class="flexrow flexcols-5">

            {{#each healthIcons}}
                <div class="flex p-1" style="max-width: 20%">
                    <div class="text-center">
                        {{localize (add 'swade-improved-sheets.configuration.icons.name.' @key)}}
                    </div>
                    <img
                        class="icon-picker health-icons"
                        src="{{this}}"
                        style="width: 100%; min-height: 50%;"
                        title="{{localize (add 'swade-improved-sheets.configuration.icons.name.' @key)}}"
                        data-edit="healthIcons.{{@key}}"
                        data-icon="{{@key}}"
                    />
                </div>
            {{/each}}

        </div>

        <h1 class="my-1">
            {{localize 'swade-improved-sheets.configuration.icons.window.statusTitle'}}
        </h1>

        <div class="flexrow flexcols-5">

            {{#each statusIcons}}
                <div class="flex p-1" style="max-width: 20%">
                    <div class="text-center">
                        {{localize (add 'swade-improved-sheets.configuration.icons.name.' @key)}}
                    </div>
                    <img
                        class="icon-picker status-icons"
                        src="{{this}}"
                        style="width: 100%; min-height: 50%;"
                        title="{{localize (add 'swade-improved-sheets.configuration.icons.name.' @key)}}"
                        data-edit="statusIcons.{{@key}}"
                        data-icon="{{@key}}"
                    />
                </div>
            {{/each}}

        </div>

        <div class="flexrow mt-2">
            <div class="flex p-1">
                <button class="reset-button">
                    <i class="fa fa-sync fa-fw"></i>
                    {{localize 'swade-improved-sheets.configuration.icons.window.buttons.reset'}}
                </button>
            </div>
            <div class="flex p-1">
                <button name="submit" class="submit-button">
                    <i class="fa fa-save fa-fw"></i>
                    {{localize 'swade-improved-sheets.configuration.icons.window.buttons.save'}}
                </button>
            </div>
            <div class="flex p-1">
                <button class="cancel-button">
                    {{localize 'swade-improved-sheets.configuration.icons.window.buttons.cancel'}}
                </button>
            </div>
        </div>

    </form>
</div>
