
<div class="attributes secondary pl-1">
    <header class="header-field">
        <span>{{ localize "SWADE.Derived" }}</span>
    </header>

    <div class="flexrow attributes-list">

        {{!-- Size --}}
        <div class="attribute flex">
            <div class="attribute-label">{{localize "SWADE.Size"}}</div>
            <input
                id="data.stats.size"
                name="data.stats.size"
                type="text"
                value="{{data.stats.size}}"
                data-dtype="Number"
            />
        </div>

        {{!-- Pace --}}
        <div class="attribute flex2">
            <div class="attribute-label">
                {{localize 'SWADE.Pace'}}
            </div>
            <div class="flexrow">
                <input
                    id="pace"
                    class="flex"
                    name="data.stats.speed.value"
                    type="text"
                    value="{{data.stats.speed.value}}"
                    placeholder="0"
                    data-dtype="String"
                />
                <button
                    class="running-die flex text-truncate"
                    style="background-image:url('systems/swade/assets/dice/d{{data.stats.speed.runningDie}}-grey.svg')"
                    >
                    {{localize 'swade-improved-sheets.sheet.character.attributes.run'}}
                </button>
            </div>
        </div>

        {{!-- Parry --}}
        <div class="attribute flex2">
            <div class="attribute-label">
                {{localize "SWADE.Parry"}}
            </div>
            <div class="flexrow">
                <input
                    id="parry"
                    class="flex"
                    name="data.stats.parry.value"
                    value="{{data.stats.parry.value}}"
                    type="text"
                    placeholder="0"
                    data-dtype="String"
                />
                <div class="armor-value flex" alt="Parry modifier" data-target="parry">
                    {{add parry data.stats.parry.modifier}}
                </div>
            </div>
        </div>

        {{!-- Toughness --}}
        <div class="attribute flex2">
            <div class="attribute-label">
                {{localize "SWADE.Tough"}}
            </div>
            <div class="flexrow">
                {{#if data.details.autoCalcToughness}}
                    <input
                        id="toughness"
                        class="flex"
                        name="data.stats.toughness.value"
                        type="text"
                        value="{{data.stats.toughness.value}}"
                        placeholder="{{localize 'SWADE.Tough'}}"
                        data-dtype="String"
                        disabled
                    />
                {{else}}
                    <input
                        id="toughness"
                        class="flex"
                        name="data.stats.toughness.value"
                        type="text"
                        value="{{data.stats.toughness.value}}"
                        placeholder="{{localize 'SWADE.Tough'}}"
                        data-dtype="String"
                    />
                {{/if}}

                <div class="armor-value flex" data-target="armor">
                    {{data.stats.toughness.armor}}
                </div>
            </div>
        </div>

    </div>
</div>
