
<div class="attributes primary pr-1">

    <header class="header-field">
        <span>
            {{ localize 'SWADE.Attributes' }}
        </span>
    </header>

    <div class="flexrow attributes-list">

        {{!-- Agility --}}
        <div class="attribute" data-attribute="agility">
            <div class="attribute-label">
                <a title="{{localize 'SWADE.Roll'}}">{{ localize 'SWADE.AttrAgi' }}</a>
            </div>
            <div class="flexrow">
                <select
                    class="attribute-value"
                    name="data.attributes.agility.die.sides"
                    id="attributes.agility"
                    data-dtype="Number"
                    style="background-image:url('systems/swade/assets/dice/d{{data.attributes.agility.die.sides}}-grey.svg')"
                    >
                    {{#select data.attributes.agility.die.sides}} {{> "systems/swade/templates/die-sides-options.html"}} {{/select}}
                </select>
                <input
                    name="data.attributes.agility.die.modifier"
                    type="text"
                    value="{{data.attributes.agility.die.modifier}}"
                    placeholder="{{localize 'SWADE.Mod'}}"
                    data-dtype="String"
                />
            </div>
        </div>

        {{!-- Smarts --}}
        <div class="attribute" data-attribute="smarts">
            <div class="attribute-label">
                <a title="{{localize 'SWADE.Roll'}}"
                >{{ localize "SWADE.AttrSma" }} {{#if
                data.attributes.smarts.animal}}(A){{/if}}</a
                >
            </div>
            <div class="flexrow">
                <select
                name="data.attributes.smarts.die.sides"
                id="attributes.smarts"
                data-dtype="Number"
                style="background-image:url('systems/swade/assets/dice/d{{data.attributes.smarts.die.sides}}-grey.svg')"
                >
                {{#select data.attributes.smarts.die.sides}} {{>
                "systems/swade/templates/die-sides-options.html"}} {{/select}}
                </select>
                <input
                name="data.attributes.smarts.die.modifier"
                type="text"
                value="{{data.attributes.smarts.die.modifier}}"
                placeholder="{{localize 'SWADE.Mod'}}"
                data-dtype="String"
                />
            </div>
        </div>

        {{!-- Spirit  --}}
        <div class="attribute" data-attribute="spirit">
            <div class="attribute-label">
                <a title="{{localize 'SWADE.Roll'}}">{{ localize "SWADE.AttrSpr" }}</a>
            </div>
            <div class="flexrow">
                <select
                name="data.attributes.spirit.die.sides"
                id="attributes.spirit"
                data-dtype="Number"
                style="background-image:url('systems/swade/assets/dice/d{{data.attributes.spirit.die.sides}}-grey.svg')"
                >
                {{#select data.attributes.spirit.die.sides}} {{>
                "systems/swade/templates/die-sides-options.html"}} {{/select}}
                </select>
                <input
                name="data.attributes.spirit.die.modifier"
                type="text"
                value="{{data.attributes.spirit.die.modifier}}"
                placeholder="{{localize 'SWADE.Mod'}}"
                data-dtype="String"
                />
            </div>
        </div>

        {{!-- Strength --}}
        <div class="attribute" data-attribute="strength">
            <div class="attribute-label">
                <a title="{{localize 'SWADE.Roll'}}">{{ localize "SWADE.AttrStr" }}</a>
            </div>
            <div class="flexrow">
                <select
                name="data.attributes.strength.die.sides"
                id="attributes.strength"
                data-dtype="Number"
                style="background-image:url('systems/swade/assets/dice/d{{data.attributes.strength.die.sides}}-grey.svg')"
                >
                {{#select data.attributes.strength.die.sides}} {{>
                "systems/swade/templates/die-sides-options.html"}} {{/select}}
                </select>
                <input
                name="data.attributes.strength.die.modifier"
                type="text"
                value="{{data.attributes.strength.die.modifier}}"
                placeholder="{{localize 'SWADE.Mod'}}"
                data-dtype="String"
                />
            </div>
        </div>

        {{!-- Vigor --}}
        <div class="attribute" data-attribute="vigor">
            <div class="attribute-label">
                <a title="{{localize 'SWADE.Roll'}}">{{ localize "SWADE.AttrVig" }}</a>
            </div>
            <div class="flexrow">
                <select
                name="data.attributes.vigor.die.sides"
                id="attributes.vigor"
                data-dtype="Number"
                style="background-image:url('systems/swade/assets/dice/d{{data.attributes.vigor.die.sides}}-grey.svg')"
                >
                {{#select data.attributes.vigor.die.sides}} {{>
                "systems/swade/templates/die-sides-options.html"}} {{/select}}
                </select>
                <input
                name="data.attributes.vigor.die.modifier"
                type="text"
                value="{{data.attributes.vigor.die.modifier}}"
                placeholder="{{localize 'SWADE.Mod'}}"
                data-dtype="String"
                />
            </div>
        </div>

    </div>
</div>
