
<header class="header">

    {{!-- Icon, Name, Conviction and Bennies --}}
    <div class="flexrow">
        <div class="flex character-portrait">
            <img
                class="profile-img cursor-pointer hover"
                src="{{actor.img}}"
                data-edit="img"
            />
        </div>

        <div class="flex character-name">
            <input
                name="name"
                type="text"
                value="{{actor.name}}"
                placeholder="{{localize 'SWADE.Name'}}"
            />
        </div>

        {{!-- Conviction --}}
        {{#if actor.data.settingrules.conviction}}
            <div class="flex fancy-counter conviction">

                <div class="text-center">
                    {{#if options.editable}}
                        <a class="conviction-toggle {{#if data.details.conviction.active}}pulse{{/if}}">
                            <strong class="">
                                {{#if data.details.conviction.active}}
                                    {{localize 'swade-improved-sheets.sheet.character.header.conviction.active'}}
                                {{else}}
                                    {{localize 'swade-improved-sheets.sheet.character.header.conviction.default'}}
                                {{/if}}
                            </strong>
                        </a>
                    {{else}}
                        <strong class="">
                            {{#if data.details.conviction.active}}
                                {{localize 'swade-improved-sheets.sheet.character.header.conviction.active'}}
                            {{else}}
                                {{localize 'swade-improved-sheets.sheet.character.header.conviction.default'}}
                            {{/if}}
                        </strong>
                    {{/if}}
                </div>

                <div class="flexrow">
                    <div class="counter-button">
                        {{#if options.editable}}
                            <a>
                                <i class="conviction-subtract fas fa-minus"></i>
                            </a>
                        {{/if}}
                    </div>
                    <div class="counter-value">
                        <input
                            type="text"
                            class=""
                            name="data.details.conviction.value"
                            value="{{data.details.conviction.value}}"
                            data-dtype="Number"
                        />
                    </div>
                    <div class="counter-button">
                        {{#if options.editable}}
                            <a>
                                <i class="conviction-add fas fa-plus"></i>
                            </a>
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/if}}

        {{!-- Bennies --}}
        <div class="flex fancy-counter bennies">

            <div class="text-center">
                <strong>
                    {{localize 'swade-improved-sheets.sheet.character.header.bennies'}}
                </strong>
            </div>

            <div class="flexrow">
                <div class="counter-button">
                    {{#if options.editable}}
                        <a>
                            <i class="benny-subtract fas fa-minus"></i>
                        </a>
                    {{/if}}
                </div>
                <div class="counter-value">
                    <input
                        class=""
                        name="data.bennies.value"
                        type="text"
                        value="{{data.bennies.value}}"
                        data-dtype="Number"
                    />
                </div>
                <div class="counter-button">
                    {{#if options.editable}}
                        <a>
                            <i class="benny-add fas fa-plus"></i>
                        </a>
                    {{/if}}
                </div>
            </div>
        </div>

    </div>

    {{!-- Race, Rank, Advances --}}
    <section class="character-info mb-2">
        <div class="flexrow">

            {{!-- Race --}}
            <div class="form-group flex2 pr-1">
                <input
                    id="race"
                    name="data.details.species.name"
                    type="text"
                    value="{{data.details.species.name}}"
                    data-dtype="String"
                    placeholder="{{localize 'SWADE.Race'}}"
                />
            </div>

            {{!-- Rank --}}
            <div class="form-group flex px-1">
                <input
                    name="data.advances.rank"
                    id="rank-input"
                    type="text"
                    value="{{data.advances.rank}}"
                    data-dtype="String"
                    placeholder="{{localize 'SWADE.Rank'}}"
                />
            </div>

            {{!-- Advances --}}
            <div class="form-group flex pl-1">
                <label for="xp-input">
                    {{localize 'swade-improved-sheets.sheet.character.header.advances'}}
                </label>

                <input
                    name="data.advances.value"
                    id="xp-input"
                    type="text"
                    value="{{data.advances.value}}"
                    data-dtype="Number"
                    placeholder="0"
                />
            </div>

        </div>
    </section>

    {{!-- Fatigue and Wounds --}}
    <section class="fatigue-and-wounds flexrow">

        {{!-- Fatigue --}}
        <div class="flex vitals-container">
            <div class="flexrow">
                <strong class="flex vital-name">
                    {{localize "SWADE.Fatigue"}}
                </strong>
                <input
                    type="range"
                    name="data.fatigue.value"
                    min="0"
                    max="{{data.fatigue.max}}"
                    class="flex5 slider fatigue-slider"
                    value="{{data.fatigue.value}}"
                />
            </div>
        </div>

        {{!-- Health Icon --}}
        <div class="flex health-icon-container">

            <img
                class="health-icon toggle-status-tray cursor-pointer"
                title="{{#if (and (eq data.fatigue.value 0) (eq data.wounds.value 0))}}
                        {{localize 'swade-improved-sheets.configuration.icons.name.healthy'}}
                    {{else}}
                        {{#if (or (eq data.fatigue.value data.fatigue.max) (eq data.wounds.value data.wounds.max))}}
                            {{localize 'swade-improved-sheets.configuration.icons.name.incapacitated'}}
                        {{else}}
                            {{#if (and (gt data.fatigue.value 0) (eq data.wounds.value 0))}}
                                {{localize 'swade-improved-sheets.configuration.icons.name.fatigued'}}
                            {{else}}
                                {{localize 'swade-improved-sheets.configuration.icons.name.wounded'}}
                            {{/if}}
                        {{/if}}
                    {{/if}}"
                src="{{#if (and (eq data.fatigue.value 0) (eq data.wounds.value 0))}}
                        {{swadeImprovedSheets.healthIcons.healthy}}
                    {{else}}
                        {{#if (or (eq data.fatigue.value data.fatigue.max) (eq data.wounds.value data.wounds.max))}}
                            {{swadeImprovedSheets.healthIcons.incapacitated}}
                        {{else}}
                            {{#if (and (gt data.fatigue.value 0) (eq data.wounds.value 0))}}
                                {{swadeImprovedSheets.healthIcons.fatigued}}
                            {{else}}
                                {{swadeImprovedSheets.healthIcons.wounded}}
                            {{/if}}
                        {{/if}}
                    {{/if}}"
            />

        </div>

        {{!-- Wounds --}}
        <div class="flex vitals-container">
            <div class="flexrow">
                <input
                    type="range"
                    name="data.wounds.value"
                    min="0"
                    max="{{data.wounds.max}}"
                    class="flex5 slider wound-slider"
                    value="{{data.wounds.value}}"
                    data-dtype="Number"
                />
                <strong class="flex vital-name">
                    {{localize "SWADE.Wounds"}}
                </strong>
            </div>
        </div>

    </section>

    {{!-- Status Icons --}}
    <section class="status-icon-area">

        {{#if actor.data.status.isShaken}}      <img src="{{swadeImprovedSheets.statusIcons.shaken}}"      title="{{localize 'swade-improved-sheets.configuration.icons.name.shaken'}}" />      {{/if}}
        {{#if actor.data.status.isDistracted}}  <img src="{{swadeImprovedSheets.statusIcons.distracted}}"  title="{{localize 'swade-improved-sheets.configuration.icons.name.distracted'}}" />  {{/if}}
        {{#if actor.data.status.isVulnerable}}  <img src="{{swadeImprovedSheets.statusIcons.vulnerable}}"  title="{{localize 'swade-improved-sheets.configuration.icons.name.vulnerable'}}" />  {{/if}}
        {{#if actor.data.status.isStunned}}     <img src="{{swadeImprovedSheets.statusIcons.stunned}}"     title="{{localize 'swade-improved-sheets.configuration.icons.name.stunned'}}" />     {{/if}}
        {{#if actor.data.status.isProne}}       <img src="{{swadeImprovedSheets.statusIcons.prone}}"       title="{{localize 'swade-improved-sheets.configuration.icons.name.prone'}}" />       {{/if}}
        {{#if actor.data.status.isEntangled}}   <img src="{{swadeImprovedSheets.statusIcons.entangled}}"   title="{{localize 'swade-improved-sheets.configuration.icons.name.entangled'}}" />   {{/if}}
        {{#if actor.data.status.isBound}}       <img src="{{swadeImprovedSheets.statusIcons.bound}}"       title="{{localize 'swade-improved-sheets.configuration.icons.name.bound'}}" />       {{/if}}
        {{#if actor.data.status.isBerserking}}  <img src="{{swadeImprovedSheets.statusIcons.berserking}}"  title="{{localize 'swade-improved-sheets.configuration.icons.name.berserking'}}" />  {{/if}}
        {{#if actor.data.status.isPoisoned}}    <img src="{{swadeImprovedSheets.statusIcons.poisoned}}"    title="{{localize 'swade-improved-sheets.configuration.icons.name.poisoned'}}" />    {{/if}}
        {{#if actor.data.status.isDiseased}}    <img src="{{swadeImprovedSheets.statusIcons.diseased}}"    title="{{localize 'swade-improved-sheets.configuration.icons.name.diseased'}}" />    {{/if}}
        {{#if actor.data.status.isBleedingOut}} <img src="{{swadeImprovedSheets.statusIcons.bleedingOut}}" title="{{localize 'swade-improved-sheets.configuration.icons.name.bleedingOut'}}" /> {{/if}}
        {{#if actor.data.status.isOnFire}}      <img src="{{swadeImprovedSheets.statusIcons.onFire}}"      title="{{localize 'swade-improved-sheets.configuration.icons.name.onFire'}}" />      {{/if}}
        {{#if actor.data.status.isDefending}}   <img src="{{swadeImprovedSheets.statusIcons.defending}}"   title="{{localize 'swade-improved-sheets.configuration.icons.name.defending'}}" />   {{/if}}
        {{#if actor.data.status.isOtherStatus}} <img src="{{swadeImprovedSheets.statusIcons.unknown}}"     title="{{#if data.status.otherStatusName}}{{data.status.otherStatusName}}{{else}}{{localize 'swade-improved-sheets.configuration.icons.name.unknown'}}{{/if}}" />     {{/if}}

    </section>

    <div class="status-tray text-truncate {{#if swadeImprovedSheets.statusTrayIsOpen}}is-open{{/if}}">
        <div class="status-content text-truncate">

            <h2>
                {{localize 'swade-improved-sheets.sheet.character.header.statusTray.heading.primary'}}
            </h2>

            <div class="status-entry">
                <label class="check-container">
                    <img src="{{swadeImprovedSheets.statusIcons.shaken}}" />
                    {{localize 'swade-improved-sheets.configuration.icons.name.shaken'}}
                    <input
                        type="checkbox"
                        name="data.status.isShaken"
                        {{checked actor.data.status.isShaken}}
                    />
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="status-entry">
                <label class="check-container">
                    <img src="{{swadeImprovedSheets.statusIcons.distracted}}" />
                    {{localize 'swade-improved-sheets.configuration.icons.name.distracted'}}
                    <input
                        type="checkbox"
                        name="data.status.isDistracted"
                        {{checked actor.data.status.isDistracted}}
                    />
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="status-entry">
                <label class="check-container">
                    <img src="{{swadeImprovedSheets.statusIcons.vulnerable}}" />
                    {{localize 'swade-improved-sheets.configuration.icons.name.vulnerable'}}
                    <input
                        type="checkbox"
                        name="data.status.isVulnerable"
                        {{checked actor.data.status.isVulnerable}}
                    />
                    <span class="checkmark"></span>
                </label>
            </div>

            <h2 class="mt-2">
                {{localize 'swade-improved-sheets.sheet.character.header.statusTray.heading.secondary'}}
            </h2>

            <div class="status-entry">
                <label class="check-container">
                    <img src="{{swadeImprovedSheets.statusIcons.stunned}}" />
                    {{localize 'swade-improved-sheets.configuration.icons.name.stunned'}}
                    <input
                        type="checkbox"
                        name="data.status.isStunned"
                        {{checked actor.data.status.isStunned}}
                    />
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="status-entry">
                <label class="check-container">
                    <img src="{{swadeImprovedSheets.statusIcons.prone}}" />
                    {{localize 'swade-improved-sheets.configuration.icons.name.prone'}}
                    <input
                        type="checkbox"
                        name="data.status.isProne"
                        {{checked actor.data.status.isProne}}
                    />
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="status-entry">
                <label class="check-container">
                    <img src="{{swadeImprovedSheets.statusIcons.entangled}}" />
                    {{localize 'swade-improved-sheets.configuration.icons.name.entangled'}}
                    <input
                        type="checkbox"
                        name="data.status.isEntangled"
                        {{checked actor.data.status.isEntangled}}
                    />
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="status-entry">
                <label class="check-container">
                    <img src="{{swadeImprovedSheets.statusIcons.bound}}" />
                    {{localize 'swade-improved-sheets.configuration.icons.name.bound'}}
                    <input
                        type="checkbox"
                        name="data.status.isBound"
                        {{checked actor.data.status.isBound}}
                    />
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="status-entry">
                <label class="check-container">
                    <img src="{{swadeImprovedSheets.statusIcons.berserking}}" />
                    {{localize 'swade-improved-sheets.configuration.icons.name.berserking'}}
                    <input
                        type="checkbox"
                        name="data.status.isBerserking"
                        {{checked actor.data.status.isBerserking}}
                    />
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="status-entry">
                <label class="check-container">
                    <img src="{{swadeImprovedSheets.statusIcons.poisoned}}" />
                    {{localize 'swade-improved-sheets.configuration.icons.name.poisoned'}}
                    <input
                        type="checkbox"
                        name="data.status.isPoisoned"
                        {{checked actor.data.status.isPoisoned}}
                    />
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="status-entry">
                <label class="check-container">
                    <img src="{{swadeImprovedSheets.statusIcons.diseased}}" />
                    {{localize 'swade-improved-sheets.configuration.icons.name.diseased'}}
                    <input
                        type="checkbox"
                        name="data.status.isDiseased"
                        {{checked actor.data.status.isDiseased}}
                    />
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="status-entry">
                <label class="check-container">
                    <img src="{{swadeImprovedSheets.statusIcons.bleedingOut}}" />
                    {{localize 'swade-improved-sheets.configuration.icons.name.bleedingOut'}}
                    <input
                        type="checkbox"
                        name="data.status.isBleedingOut"
                        {{checked actor.data.status.isBleedingOut}}
                    />
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="status-entry">
                <label class="check-container">
                    <img src="{{swadeImprovedSheets.statusIcons.onFire}}" />
                    {{localize 'swade-improved-sheets.configuration.icons.name.onFire'}}
                    <input
                        type="checkbox"
                        name="data.status.isOnFire"
                        {{checked actor.data.status.isOnFire}}
                    />
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="status-entry">
                <label class="check-container">
                    <img src="{{swadeImprovedSheets.statusIcons.defending}}" />
                    {{localize 'swade-improved-sheets.configuration.icons.name.defending'}}
                    <input
                        type="checkbox"
                        name="data.status.isDefending"
                        {{checked actor.data.status.isDefending}}
                    />
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="status-entry flexrow text-truncate">
                <label class="check-container" style="max-width: 60px">
                    <img src="{{swadeImprovedSheets.statusIcons.unknown}}" />
                    <input
                        type="checkbox"
                        name="data.status.isOtherStatus"
                        {{checked actor.data.status.isOtherStatus}}
                    />
                    <span class="checkmark"></span>
                </label>

                {{!-- @todo: this input overflows unpleasantly as the tray slides --}}

                <input
                    type="text"
                    class="text-truncate"
                    name="data.status.otherStatusName"
                    value="{{data.status.otherStatusName}}"
                    placeholder="{{localize 'swade-improved-sheets.sheet.character.header.statusTray.unknown.placeholder'}}"
                />
            </div>

            <div class="mt-4 text-truncate">
                <button
                    class="clear-all-statuses text-truncate"
                    >
                    {{localize 'swade-improved-sheets.sheet.character.header.statusTray.reset'}}
                </button>
            </div>

        </div>
    </div>

</header>
