
<main class="sheet-body">

    {{!-- Summary Tab --}}
    <div class="tab summary active" data-group="primary" data-tab="summary">
        {{> 'modules/swade-improved-sheets/html/character/partials/summaryTab.hbs'}}
    </div>

    {{!-- Edges/Hindrances Tab --}}
    <div class="tab edges" data-group="primary" data-tab="edges">
        {{> "systems/swade/templates/actors/partials/edges-tab.html"}}
    </div>

    {{!-- Inventory Tab --}}
    <div class="tab inventory" data-group="primary" data-tab="inventory">
        {{> "systems/swade/templates/actors/partials/inventory-tab.html"}}
    </div>

    {{!-- Powers Tab --}}
    {{#if hasArcaneBackground}}
        <div class="tab powers" data-group="primary" data-tab="powers">
            {{> "systems/swade/templates/actors/partials/powers-tab.html"}}
        </div>
    {{/if}}

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
        {{> "systems/swade/templates/actors/partials/biography-tab.html"}}
    </div>

</main>
