
<nav class="flexrow tabs" data-group="primary">

    <a class="item" data-tab="summary">
        {{localize "SWADE.Summary"}}
    </a>

    <a class="item" data-tab="edges">
        {{localize "SWADE.Edges"}}
    </a>

    <a class="item" data-tab="inventory">
        {{localize "SWADE.Inv"}}
    </a>

    {{#if hasArcaneBackground}}
        <a class="item" data-tab="powers">
            {{localize "SWADE.Pow"}}
        </a>
    {{/if}}

    <a class="item" data-tab="description">
        {{localize "SWADE.Desc"}}
    </a>

</nav>
