
<section class="flexrow attributes-container">

    {{> 'modules/swade-improved-sheets/html/character/partials/attributesPrimary.hbs'}}

    {{> 'modules/swade-improved-sheets/html/character/partials/attributesSecondary.hbs'}}

</section>

<section class="flexrow">

    {{!-- Skills  --}}
    <div class="skills flex pr-2">
        <header class="header-field flexrow">
            <div>
                <span>
                    {{localize "SWADE.Skills"}}
                </span>
            </div>

            {{#if options.editable}}
                <div class="header-field-add">
                    <a class="item-create" data-type="skill">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            {{/if}}

        </header>

        <ol class="skills-list resizable" data-base-size="390">

            {{#each data.owned.skills as |skill id|}}
                <li class="item skill flexrow" data-item-id="{{skill._id}}">
                    {{#unless ../swadeImprovedSheets.modulesInUse.betterrollsSwade}}
                        <a class="hover-glow" title="{{localize 'SWADE.Roll'}}">
                            <div>
                                <div class="skill-image" style="background-image: url('{{skill.img}}')"></div>
                            </div>
                        </a>
                    {{/unless}}

                    <label class="skill-label item-edit text-truncate">
                        <a title="{{localize 'SWADE.EditSkill'}}">
                            {{skill.name}}
                        </a>
                    </label>
                    <div class="skill-value" style="background-image:url('systems/swade/assets/dice/d{{skill.data.die.sides}}-grey.svg')">
                        <span>
                            <a
                                class="item-control"
                                title="{{localize 'SWADE.Roll'}}"
                                >
                                {{#if (lt skill.data.die.sides 10)}}d{{/if}}{{skill.data.die.sides}}{{modifier skill.data.die.modifier}}
                            </a>
                        </span>
                    </div>
                    <div class="skill-attribute">
                        <span>{{localizeSkillAttribute skill.data.attribute}}</span>
                    </div>
                </li>
            {{/each}}

        </ol>
    </div>

    {{!-- Gear --}}
    <div class="gear resizable scrollable flex pl-2" data-base-size="400">
        {{> "systems/swade/templates/setting-fields.html"}}
        <header class="header-field flexrow">
            <div>
                <span>
                    {{ localize "SWADE.QuickAccess" }}
                </span>
            </div>

            {{#if options.editable}}
                <div class="header-field-add">
                    <a
                        class="item-create"
                        data-type="choice"
                        data-equipped="true"
                        data-choices="weapon,power,armor,shield"
                        >
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            {{/if}}

        </header>

        <div class="quickaccess-list">
            <ol class="gear-list weapon-list">
            {{#each data.owned.weapons as |weapon id|}} {{#if weapon.data.equipped}}
            {{> "systems/swade/templates/actors/partials/weapon-card.html"}} {{/if}}
            {{/each}}
            </ol>
            {{#if data.hasArcaneBackground}}
            <ol class="gear-list power-list">
            {{#each data.owned.powers as |power id|}} {{#if power.data.equipped}}
            {{> "systems/swade/templates/actors/partials/powers-card.html"}} {{/if}}
            {{/each}}
            </ol>
            {{/if}}
            <ol class="gear-list armor-list">
            {{#each data.owned.armors as |armor id|}} {{#if armor.data.equipped}}
            {{> "systems/swade/templates/actors/partials/armor-card.html"}} {{/if}}
            {{/each}}
            </ol>
            <ol class="gear-list shield-list">
            {{#each data.owned.shields as |shield id|}} {{#if shield.data.equipped}}
            {{> "systems/swade/templates/actors/partials/shield-card.html"}} {{/if}}
            {{/each}}
            </ol>
        </div>
    </div>

</section>
