
<form class="{{cssClass}} swade-improved-sheets" autocomplete="off">

    {{!-- Header --}}
    {{> 'modules/swade-improved-sheets/html/character/partials/header.hbs'}}

    {{!-- Tab Navigation --}}
    {{> 'modules/swade-improved-sheets/html/character/partials/navbar.hbs'}}

    {{!-- Sheet Body --}}
    {{> 'modules/swade-improved-sheets/html/character/partials/mainBody.hbs'}}

</form>
