
/*#region -- Global styles */

    .swade .swade-improved-sheets,
    .swade-improved-sheets-config {

        .well {
            padding: 10px;
            border: 1px solid rgba(0, 0, 0, 0.75);
            background-color: rgba(0, 0, 0, 0.125);
            border-radius: 4px;
        }

        .hover-glow:hover > * {
            box-shadow: 0 0 10px red;
        }

        .cursor-pointer {
            cursor: pointer;
        }

        .text-truncate {
            white-space: nowrap;
            text-overflow: clip;
            overflow: hidden;
        }

        .pulse {
            box-shadow: 0 0 0 0 black;
            transform: scale(1);
            border-radius: 5px;
            animation: pulse 2s infinite;
        }

        @keyframes pulse {
            0% {
              transform: scale(0.95);
              background: rgba(255, 0, 0, 0.7);
              box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
            }
            70% {
              transform: scale(1);
              background: rgba(255, 0, 0, 0);
              box-shadow: 0 0 0 8px rgba(255, 0, 0, 0);
            }
            100% {
              transform: scale(0.95);
              background: rgba(255, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
            }
        }


    }

/*#endregion*/


/*#region -- Improved Sheet */
    .swade.sheet {

        /*#region -- Character Sheet */
            &.character {
                position: relative;

                header {

                    .chracter-portrait, .character-name {
                        height: 50px;
                    }

                    .character-portrait {
                        display: inline-block;
                        width: 50px;
                        max-width: 50px;

                        img.profile-img {
                            width: 100%;
                            max-height: 100%;
                        }
                    }

                    .character-name {
                        display: inline-block;
                        font-size: 40px;

                        > input {
                            height: 46px;
                            border-color: transparent;
                            background-color: transparent;

                            &:focus {
                                background-color: rgba(0, 0, 0, 0.1);
                            }
                        }
                    }

                    .fancy-counter {
                        width: 90px;
                        max-width: 90px;

                        .counter-button {
                            text-align: center;
                            padding-top: 5px;
                            flex: 2;
                        }

                        .counter-value {
                            flex: 3;

                            input {
                                text-align: center;
                                font-size: 22px;
                            }
                        }

                    }

                    .character-info {
                        width: 100%;

                        input {
                            border-color: transparent;
                            background-color: transparent;
                            border-bottom-color: rgba(0,0,0, 0.2);

                            &:focus {
                                border-color: rgba(0,0,0, 0.2);
                                background-color: rgba(0,0,0, 0.1);
                            }

                            &#xp-input {
                                text-align: center;
                            }
                        }
                    }

                    .fatigue-and-wounds {

                        .vitals-container {

                            .vital-name {
                                max-width: 60px;
                                text-align: center;
                            }

                        }

                        .health-icon-container {
                            max-width: 30px;
                            text-align: center;

                            img.health-icon {
                                height: 30px;
                                min-height: 30px;
                                max-height: 30px;
                            }

                        }

                    }

                    .status-icon-area {
                        text-align: center;
                        padding: 0 auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        > img {
                            flex: 1;
                            max-width: 30px;
                            margin: 5px 3px;
                            cursor: pointer;
                        }

                    }

                }

                .status-tray {

                    position: absolute;
                    top: 120px;
                    right: 0;
                    width: 0px;
                    height: 560px;
                    border: 1px solid transparent, 1px solid transparent, 1px solid transparent, none;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    box-shadow: 7px 0px 5px rgba(0,0,0, 1);
                    background-color: #dfe6f5;
                    transition: width 0.15s linear, right 0.15s linear;
                    -o-transition: width 0.15s linear, right 0.15s linear;
                    -moz-transition: width 0.15s linear, right 0.15s linear;
                    -webkit-transition: width 0.15s linear, right 0.15s linear;

                    .status-content {
                        margin: 10px;

                        .status-entry {
                            margin: 0 0 2px 5px;

                            img {
                                height: 22px;
                                max-height: 22px;
                            }

                            .check-container {
                                font-size: 16px;
                            }

                        }
                    }

                    &.is-open {
                        width: 200px;
                        right: -200px;
                        border-color: rgba(0,0,0, 0.67);
                    }

                }

                /*#region -- Character Detail Tabs */
                    .tab {

                        &.summary {

                            .attributes {

                                &.primary {
                                    flex: 5;

                                    .attributes-list {

                                        .attribute {

                                            select {
                                                flex: 2;
                                            }

                                            input {
                                                flex: 1;
                                            }

                                        }

                                    }

                                }

                                &.secondary {
                                    flex: 4;

                                    button.running-die {
                                        cursor: pointer;
                                        border: none;
                                        background-color: transparent;
                                        background-size: contain;
                                        background-position: center;
                                        background-repeat: no-repeat;

                                        &:hover {
                                            box-shadow: none;
                                        }

                                    }

                                    .armor-value {
                                        line-height: 27px;
                                        font-weight: 600;
                                        text-align: center;
                                        background: url(/systems/swade/assets/icons/police-badge.svg) no-repeat center;
                                        background-size: cover;
                                        cursor: pointer;
                                    }

                                }

                            }

                            .skills {

                                .skills-list {

                                    .skill.item {

                                        .skill-image {
                                            flex: 1;
                                            width: 20px;
                                            height: 25px;
                                            flex-basis: 25px;
                                            flex-grow: 0;
                                            margin: 1px 0 0 0;
                                            background-size: cover;
                                            background-repeat: no-repeat;
                                            background-position: center;
                                        }

                                        .skill-label {
                                            flex: 10;
                                        }

                                        .skill-value {
                                            flex: 3;
                                            background-color: transparent;
                                            background-size: contain;
                                            background-position: 0px 0px;
                                            background-repeat: no-repeat;

                                            a {
                                                padding-left: 7px;
                                                font-weight: 600;
                                            }

                                        }

                                        .skill-attribute {
                                            flex: 2;
                                            text-align: center;
                                        }

                                    }

                                }

                            }

                        }

                    }
                /*#endreigion*/

            }
        /*#endregion*/

    }

/*#endregion*/
